In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import warnings
# import quantstats as qs

In [3]:
warnings.simplefilter(action='ignore', category=FutureWarning)

closing_price1 = pd.read_excel('fechamento_limpo.xlsx')
print('1')
quality1 = pd.read_excel('base_quality_limpa.xlsx')
print('1')
low_size1 = pd.read_excel('base_low_size_limpa.xlsx')
print('1')
value1 = pd.read_excel('value_limpo.xlsx')

1
1
1

In [4]:
low_size1["Data"] = pd.to_datetime(low_size1["Data"])
low_size1 = low_size1.set_index("Data")

quality1["Data"] = pd.to_datetime(quality1["Data"])
quality1 = quality1.set_index("Data")

value1["Data"] = pd.to_datetime(value1["Data"])
value1 = value1.set_index("Data")

closing_price1["Data"] = pd.to_datetime(closing_price1["Data"])
closing_price1 = closing_price1.set_index("Data")

In [41]:
dados_ineg1 = pd.read_excel('ineg_limpo (3).xlsx')
dados_ineg1['Data'] = pd.to_datetime(dados_ineg1['Data'])
dados_ineg1 = dados_ineg1.set_index('Data')

In [42]:
initial_date = pd.Timestamp(dt.datetime(2000,1,24))
final_date =pd.Timestamp(dt.datetime(2024,12,31))


low_size2 = low_size1[(low_size1.index >= initial_date) & (low_size1.index <=final_date)]
closing_price2 = closing_price1[(closing_price1.index >= initial_date) & (closing_price1.index <=final_date)]
quality2 = quality1[(quality1.index >= initial_date) & (quality1.index <=final_date)]
value2 = value1[(value1.index >= initial_date) & (value1.index <=final_date)]
dados_ineg2 = dados_ineg1[(dados_ineg1.index >= initial_date) & (dados_ineg1.index <=final_date)]

print(len(low_size2))
print(len(quality2))
print(len(value2))
print(len(closing_price2))
print(len(dados_ineg2))

6507
6507
6507
6507
6507

In [43]:

# Força o índice para datetime corretamente
closing_price = closing_price1.copy()
closing_price.index = pd.to_datetime(closing_price.index, errors='coerce')
closing_price = closing_price[closing_price.index.notna()]  # remove datas inválidas


low_size = low_size1.copy()
low_size.index = pd.to_datetime(low_size.index, errors='coerce')
low_size = low_size[low_size.index.notna()]


quality = quality1.copy()
quality.index = pd.to_datetime(quality.index, errors='coerce')
quality = quality[quality.index.notna()]


value = value1.copy()
value.index = pd.to_datetime(value.index, errors='coerce')
value = value[value.index.notna()]
# Colocar os lookcbacks de cada estrategia
dados_ineg = dados_ineg1.copy()


lookback_momentum = 3  #  3 mes
lookback_low_size = 3  #  3 mes
lookback_low_vol = 3 #  3 mes
lookback_quality = 3  #  3 mes
lookback_value = 3  #  3 mes
lookback_ibx = 3  #  3 mes

rebal_time = 1  #  1 mes --> unico para toda a carteira

In [44]:
closing_price = closing_price2.copy()
value = value2.copy()
low_size = low_size2.copy() 
quality = quality2.copy()
dados_ineg = dados_ineg2.copy()

In [46]:
dados_ineg

,TTEN3,ABCB4,EALT3,EALT4,AERI3,AFLT3,AGXY3,RPAD3,RPAD5,RPAD6,...,MWET3,MWET4,WHRL3,WHRL4,PORT3,WIZC3,WLMM3,WLMM4,YDUQ3,ZAMP3
Data,,,,,,,,,,,,,,,,,,,,,
2000-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-26,0.138012,0.119215,0.000180,0.001142,0.045381,0.000028,0.014864,0.000010,0.000011,0.000007,...,0.000002,0.000197,0.000182,0.000607,0.177795,0.026870,0.000002,0.000306,0.290681,0.022689
2024-12-27,0.138262,0.123693,0.000117,0.001189,0.047782,0.000029,0.014302,0.000006,0.000005,0.000008,...,0.000002,0.000125,0.000187,0.000623,0.174306,0.027260,0.000002,0.000313,0.296301,0.022628
2024-12-30,0.136936,0.138076,0.000116,0.001204,0.059729,0.000032,0.009739,0.000006,0.000006,0.000008,...,0.000001,0.000070,0.000212,0.000697,0.171390,0.026181,0.000003,0.000311,0.296239,0.022904
2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
dados_ineg = dados_ineg.dropna(axis=1, how='all')

cutoff_date = initial_date
dados_ineg = dados_ineg[dados_ineg.index >= cutoff_date]

In [55]:
returns = pd.DataFrame()


rebal = initial_date + pd.DateOffset(months=rebal_time)

# print(f"Initial: {initial_date}, Rebal: {rebal}, Final: {final_date}")

if rebal <= final_date:
        
    ineg_date_analysis = initial_date - pd.DateOffset(months=lookback_ibx)
    ineg = dados_ineg[(dados_ineg.index < initial_date) & (dados_ineg.index >= ineg_date_analysis)]
    ineg = ineg.bfill().ffill()

    if not ineg.empty:
        ineg = ineg.iloc[-1]
    else:
        initial_date += pd.DateOffset(months=rebal_time)


    ineg = ineg.reset_index()
    # print(ineg)


    #era ticket é o nome da ação e neg é o índice de negociabilidade
    ineg.columns = ['ticker','neg'] if 'neg' not in ineg.columns else ineg.columns

    #no fim essa lista iá significar que as ações investidas estão na lista de boa negociabilidade
    ibx_tickers = ineg.sort_values(by='neg', ascending=False).head(100)['ticker'].tolist()

# --------------------------------------------------------------

    # OFENSIVA

    #momentum:
    # Define o intervalo para analisar o desempenho passado das ações
    momentum_date_analysis = initial_date - pd.DateOffset(months=lookback_momentum)
    # Filtra os preços dentro do intervalo desejado
    # print(closing_price)
    momentum = closing_price[(closing_price.index < initial_date) & (closing_price.index > momentum_date_analysis)]
    # print(momentum)

    #cálculo do momentum:
    momentum = momentum.pct_change().add(1).cumprod().add(-1)
    # Pega apenas a última linha dos retornos acumulados (mais recente)
    momentum = momentum.iloc[-1]
    # Converte para DataFrame e renomeia as colunas
    momentum = momentum.reset_index()
    momentum.columns = ['ticker', 'momentum'] #Ticker = nome da ação e value = valor da ação
    # print(ibx_tickers)
    momentum = momentum[momentum['ticker'].isin(ibx_tickers)]  #Verifica se a ação está entre as top 100 mais negociadas na bolsa 

    # Ordena da maior performance para a menor
    momentum = momentum.sort_values(by='momentum', ascending=False).reset_index(drop=True)
    # print(momentum)

    # low size em cima de momentum

    momentum_20_pc = momentum['momentum'].quantile(0.80) 
    momentum_20_pc = momentum[momentum['momentum'] >= momentum_20_pc]

    acoes_20_momentum = momentum_20_pc['ticker'].tolist()

    low_size_date_analysis = initial_date - pd.DateOffset(months=lookback_low_size)
    low_size_filtro = low_size[(low_size.index < initial_date) & (low_size.index > low_size_date_analysis)]

    if low_size_filtro.empty:
        # print("Sem dados de low_size para:", initial_date)
        initial_date += pd.DateOffset(months=rebal_time)


    low_size_filtro = low_size_filtro.iloc[-1]
    low_size_filtro=low_size_filtro.reset_index()
    low_size_filtro.columns = ['ticker','low_size']

    
    low_size_novo = low_size_filtro[low_size_filtro['ticker'].isin(acoes_20_momentum)]
    low_size_novo = low_size_novo.sort_values(by='low_size', ascending=True).reset_index(drop=True)

    lista_low_size = low_size_novo.ticker.tolist()
    


    book_winners_ofensiva = low_size_novo.low_size.quantile(0.80)
    book_winners_ofensiva = low_size_novo[low_size_novo['low_size'] <= book_winners_ofensiva]   
    book_winners_ofensiva = book_winners_ofensiva.ticker.tolist()
    book_loosers_ofensiva = low_size_novo.low_size.quantile(0.20)
    book_loosers_ofensiva = low_size_novo[low_size_novo['low_size'] >= book_loosers_ofensiva]
    book_loosers_ofensiva = book_loosers_ofensiva.ticker.tolist()

    print(book_loosers_ofensiva)
    


    initial_date = initial_date + pd.DateOffset(months=rebal_time)


# print(rebal)
# print(final_date)
# print(initial_date)
# print(count)

['EMAE4', 'ALPA4', 'UNIP6', 'CEEB3', 'BOBR4', 'CGAS5', 'CBEE3', 'BRKM5', 'BRKM6', 'EGIE3', 'CPLE3', 'CMIG4', 'ABEV3', 'ITUB4', 'ELET3', 'ELET6']

In [ ]:
returns = pd.DataFrame()
count = 0
while True:
    count+=1

    rebal = initial_date + pd.DateOffset(months=rebal_time)
    
    # print(f"Initial: {initial_date}, Rebal: {rebal}, Final: {final_date}")

    if rebal <= final_date:
         
        ineg_date_analysis = initial_date - pd.DateOffset(months=lookback_ibx)
        ineg = dados_ineg[(dados_ineg.index < initial_date) & (dados_ineg.index >= ineg_date_analysis)]
        ineg = ineg.bfill().ffill()

        if not ineg.empty:
            ineg = ineg.iloc[-1]
        else:
            initial_date += pd.DateOffset(months=rebal_time)
            continue

        ineg = ineg.reset_index()

        #era ticket é o nome da ação e neg é o índice de negociabilidade
        ineg.columns = ['ticker','neg'] if 'neg' not in ineg.columns else ineg.columns

        #no fim essa lista iá significar que as ações investidas estão na lista de boa negociabilidade
        ibx_tickers = ineg.sort_values(by='neg', ascending=False).head(100)['ticker'].tolist()

# --------------------------------------------------------------

        # OFENSIVA

        #momentum:
        # Define o intervalo para analisar o desempenho passado das ações
        momentum_date_analysis = initial_date - pd.DateOffset(months=lookback_momentum)
        # Filtra os preços dentro do intervalo desejado
        momentum = closing_price[(closing_price.index < initial_date) & (closing_price.index > momentum_date_analysis)]
        

        #cálculo do momentum:
        momentum = momentum.pct_change().add(1).cumprod().add(-1)
        # Pega apenas a última linha dos retornos acumulados (mais recente)
        momentum = momentum.iloc[-1]
        # Converte para DataFrame e renomeia as colunas
        momentum = momentum.reset_index()
        momentum.columns = ['ticker', 'momentum'] #Ticker = nome da ação e value = valor da ação
        momentum = momentum[momentum['ticker'].isin(ibx_tickers)]  #Verifica se a ação está entre as top 100 mais negociadas na bolsa 

        # Ordena da maior performance para a menor
        momentum = momentum.sort_values(by='momentum', ascending=False).reset_index(drop=True)

        # low size em cima de momentum

        momentum_20_pc = momentum['momentum'].quantile(0.80) 
        momentum_20_pc = momentum[momentum['momentum'] >= momentum_20_pc]

        acoes_20_momentum = momentum_20_pc['ticker'].tolist()

        low_size_date_analysis = initial_date - pd.DateOffset(months=lookback_low_size)
        low_size_filtro = low_size[(low_size.index < initial_date) & (low_size.index > low_size_date_analysis)]

        if low_size_filtro.empty:
            print("Sem dados de low_size para:", initial_date)
            initial_date += pd.DateOffset(months=rebal_time)
            continue

        low_size_filtro = low_size_filtro.iloc[-1]
        low_size_filtro=low_size_filtro.reset_index()
        low_size_filtro.columns = ['ticker','low_size']

        
        low_size_novo = low_size_filtro[low_size_filtro['ticker'].isin(acoes_20_momentum)]
        low_size_novo = low_size_novo.sort_values(by='low_size', ascending=True).reset_index(drop=True)

        lista_low_size = low_size_novo.ticker.tolist()
        


        book_winners_ofensiva = low_size_novo.ticker.quantile(0.80)
        book_winners_ofensiva = low_size_novo[low_size_novo['low_size'] <= book_winners_ofensiva]
        book_loosers_ofensiva = low_size_novo.ticker.quantile(0.20)
        book_loosers_ofensiva = low_size_novo[low_size_novo['low_size'] >= book_loosers_ofensiva]


        initial_date = initial_date + pd.DateOffset(months=rebal_time)

    else:
        break
# print(rebal)
# print(final_date)
# print(initial_date)
# print(count)

In [15]:
closing_price

,TTEN3,QVQP3,ABCB4,EALT3,EALT4,AERI3,AESO3,AFLT3,GRAO3,AGXY3,...,MWET3,MWET4,WHRL3,WHRL4,PORT3,WIZC3,WLMM3,WLMM4,YDUQ3,ZAMP3
Data,,,,,,,,,,,,,,,,,,,,,
2000-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.25,NaN,NaN,NaN,NaN,NaN,0.126429,NaN,NaN
2000-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,3.50,NaN,NaN,NaN,NaN,0.204273,0.126429,NaN,NaN
2000-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.75,NaN,NaN,NaN,NaN,0.204273,NaN,NaN,NaN
2000-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.126429,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-26,13.424706,NaN,19.813316,13.35,13.78,8.32,NaN,6.522048,NaN,0.46,...,NaN,NaN,3.82,4.12,15.984958,5.54,NaN,28.474074,8.24,2.29
2024-12-27,13.217413,NaN,19.890000,13.46,13.33,8.31,NaN,6.960665,NaN,0.46,...,NaN,NaN,3.90,4.10,16.063654,5.57,NaN,28.771816,8.32,2.27
2024-12-30,13.562902,NaN,19.310000,13.50,13.49,5.71,NaN,6.817638,NaN,0.45,...,NaN,NaN,3.84,4.22,16.043980,5.57,24.650876,29.774214,8.55,2.26
2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
momentum

Empty DataFrame
Columns: [ticker, momentum]
Index: []

In [ ]:
returns = pd.DataFrame()

while True:

    rebal = initial_date + pd.DateOffset(months=rebal_time)
    
    # print(f"Initial: {initial_date}, Rebal: {rebal}, Final: {final_date}")

    if rebal <= final_date:
         
        ineg_date_analysis = initial_date - pd.DateOffset(months=lookback_ibx)
        ineg = dados_ineg[(dados_ineg.index < initial_date) & (dados_ineg.index >= ineg_date_analysis)]
        ineg = ineg.bfill().ffill()

        if not ineg.empty:
            ineg = ineg.iloc[-1]
        else:
            initial_date += pd.DateOffset(months=rebal_time)
            continue

        ineg = ineg.reset_index()

        #era ticket é o nome da ação e neg é o índice de negociabilidade
        ineg.columns = ['ticker','neg'] if 'neg' not in ineg.columns else ineg.columns

        #no fim essa lista iá significar que as ações investidas estão na lista de boa negociabilidade
        ibx_tickers = ineg.sort_values(by='neg', ascending=False).head(100)['ticker'].tolist()

# --------------------------------------------------------------

        # OFENSIVA

        #momentum:
        # Define o intervalo para analisar o desempenho passado das ações
        momentum_date_analysis = initial_date - pd.DateOffset(months=lookback_momentum)
        # Filtra os preços dentro do intervalo desejado
        momentum = closing_price[(closing_price.index < initial_date) & (closing_price.index > momentum_date_analysis)]
        #cálculo do momentum:
        momentum = momentum.pct_change().add(1).cumprod().add(-1)
        # Pega apenas a última linha dos retornos acumulados (mais recente)
        momentum = momentum.iloc[-1]
        # Converte para DataFrame e renomeia as colunas
        momentum = momentum.reset_index()
        momentum.columns = ['ticker', 'momentum'] #Ticker = nome da ação e value = valor da ação
        momentum = momentum[momentum['ticker'].isin(ibx_tickers)]  #Verifica se a ação está entre as top 100 mais negociadas na bolsa 

        # Ordena da maior performance para a menor
        momentum = momentum.sort_values(by='momentum', ascending=False).reset_index(drop=True)


        # low size em cima de momentum

        momentum_20_pc = momentum['momentum'].quantile(0.80) 
        momentum_20_pc = momentum[momentum['momentum'] >= momentum_20_pc]

        acoes_20_momentum = momentum_20_pc['ticker'].tolist()

        low_size_date_analysis = initial_date - pd.DateOffset(months=lookback_low_size)
        low_size_filtro = low_size[(low_size.index < initial_date) & (low_size.index > low_size_date_analysis)]

        if low_size_filtro.empty:
            print("Sem dados de low_size para:", initial_date)
            initial_date += pd.DateOffset(months=rebal_time)
            continue

        low_size_filtro = low_size_filtro.iloc[-1]
        low_size_filtro=low_size_filtro.reset_index()
        low_size_filtro.columns = ['ticker','low_size']

        
        low_size_novo = low_size_filtro[low_size_filtro['ticker'].isin(acoes_20_momentum)]
        low_size_novo = low_size_novo.sort_values(by='low_size', ascending=True).reset_index(drop=True)

        lista_low_size = low_size_novo.ticker.tolist()
        


        book_winners_ofensiva = low_size_novo.ticker.quantile(0.80)
        book_winners_ofensiva = low_size_novo[low_size_novo['low_size'] <= book_winners_ofensiva]
        book_loosers_ofensiva = low_size_novo.ticker.quantile(0.20)
        book_loosers_ofensiva = low_size_novo[low_size_novo['low_size'] >= book_loosers_ofensiva]


# --------------------------------------------------------------
        # DEFENSIVA

        # low vol

        # Low Vol direto do fechamento
        low_vol_date_analysis = initial_date - pd.DateOffset(months=lookback_low_vol)
        low_vol_prices = closing_price[(closing_price.index < initial_date) & (closing_price.index > low_vol_date_analysis)]

        # Calcula volatilidade (desvio padrão dos retornos)
        low_vol = low_vol_prices.pct_change().std()  # isso retorna uma Series com o ticker como índice
        low_vol = low_vol.reset_index()
        low_vol.columns = ['ticker', 'low_vol']

        # Filtra para tickers do IBX
        low_vol = low_vol[low_vol['ticker'].isin(ibx_tickers)]
        low_vol = low_vol.sort_values(by='low_vol', ascending=True).reset_index(drop=True)

        lista_low_vol = low_vol.ticker.tolist()


        # quality
        quality_date_analysis = initial_date - pd.DateOffset(months=lookback_quality)
        quality = quality[(quality.index < initial_date) & (quality.index > quality_date_analysis)]
        quality = quality.iloc[-1]
        quality = quality.reset_index()
        quality.columns = ['ticker','quality']
        quality = quality[quality['ticker'].isin(ibx_tickers)]
        quality = quality.sort_values(by='quality', ascending=False).reset_index(drop=True)


        lista_quality = quality.ticker.tolist()

        ## necessário implementar aqui os scores de cada ação, utilizando 
        # a soma dos índices da ação das duas listas/dataframes  

        # acoes_25_quality_low_vol = ultimo_df['ticker'].quantile(0.75) # 25%
        # acoes_25_quality_low_vol = ultimo_df[ultimo_df['ticker'] >= acoes_25_quality_low_vol]
        # acoes_25_quality_low_vol = acoes_25_quality_low_vol['ticker'].tolist()

        # value

        value_date_analysis = initial_date - pd.DateOffset(months=lookback_value)
        value = value[(value.index < initial_date) & (value.index > value_date_analysis)]
        value = value.iloc[-1]
        value = value.reset_index()
        value.columns = ['ticker','quality']
        value = value[value['ticker'].isin(ibx_tickers)]
        value = value.sort_values(by='quality', ascending=False).reset_index(drop=True)


        book_winners = momentum.ticker[:int(len(momentum)*0.4)]
        book_loosers = [l for l in list(momentum['ticker']) if l not in list(book_winners)]
        # ou 
        # book_losers = momentum.ticker[int(len(momentum))*0.4:]



        # backtest é o mesmo para winners, losers e universe
        # universe
        backtest_universe = closing_price[(closing_price.index >= initial_date) & (closing_price.index < rebal)]
        backtest_universe = backtest_universe.pct_change().replace(np.nan,0)
        backtest_universe['Retorno'] = backtest_universe.mean(axis=1)
        backtest_universe_ret = backtest_universe['Retorno'][1:]

        # losers
        backtest_loosers = closing_price[(closing_price.index >= initial_date) & (closing_price.index < rebal)]
        backtest_loosers = backtest_loosers[book_loosers].pct_change().replace(np.nan,0)
        backtest_loosers['Retorno'] = backtest_loosers.mean(axis=1)
        backtest_loosers_ret = backtest_loosers['Retorno'][1:]

        # winners
        backtest_winners = closing_price[(closing_price.index >= initial_date) & (closing_price.index < rebal)]
        backtest_winners = backtest_winners[book_winners].pct_change().replace(np.nan,0)
        backtest_winners['Retorno'] = backtest_winners.mean(axis=1)
        backtest_winners_ret = backtest_winners['Retorno'][1:]

        # retorno
        retorno_rebal = pd.DataFrame({
            'Winners': backtest_winners_ret,
            'Universo': backtest_universe_ret,
            'Losers': backtest_loosers_ret,
        })


        returns = pd.concat([returns, retorno_rebal], ignore_index=False)

        initial_date = initial_date + pd.DateOffset(months=rebal_time)

    else:
        break

returns = returns.add(1).cumprod()


qs.reports.full(returns['Winners'],returns['Universo'])

IndexError: single positional indexer is out-of-bounds

In [144]:
momentum

Empty DataFrame
Columns: [ticker, momentum]
Index: []

In [99]:
ineg

     ticker       neg
0    NTTEN3  0.193623
1    NABCB4  0.099034
2    NEALT3  0.000060
3    NEALT4  0.000665
4    NAERI3  0.018723
..      ...       ...
449  NWIZC3  0.018381
450  NWLMM3  0.000009
451  NWLMM4  0.000140
452  NYDUQ3  0.381204
453  NZAMP3  0.021682

[454 rows x 2 columns]

In [100]:
closing_price

,TTEN3,QVQP3,ABCB4,EALT3,EALT4,AERI3,AESO3,AFLT3,GRAO3,AGXY3,...,MWET3,MWET4,WHRL3,WHRL4,PORT3,WIZC3,WLMM3,WLMM4,YDUQ3,ZAMP3
Data,,,,,,,,,,,,,,,,,,,,,
1999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.25,NaN,NaN,NaN,NaN,NaN,0.157603,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.00,NaN,NaN,NaN,NaN,NaN,0.131625,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.25,NaN,NaN,NaN,NaN,NaN,0.143748,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-02,14.24,NaN,19.90,NaN,13.91,3.89,NaN,7.141833,NaN,0.53,...,NaN,12.10,3.96,4.25,17.09,5.96,NaN,29.250000,12.43,3.16
2025-04-03,14.41,NaN,20.37,14.00,13.70,4.46,NaN,NaN,NaN,0.53,...,NaN,NaN,3.93,4.27,17.09,6.09,NaN,29.490000,12.90,3.21
2025-04-04,13.93,NaN,19.97,NaN,13.39,4.02,NaN,6.960665,NaN,0.52,...,NaN,NaN,3.86,4.27,17.03,5.90,26.08,29.480000,12.59,3.01
2025-04-07,13.98,NaN,19.56,13.50,13.29,3.89,NaN,NaN,NaN,0.53,...,NaN,NaN,3.92,4.24,17.00,5.90,NaN,29.390000,12.78,2.87
2025-04-08,14.09,NaN,19.33,13.99,13.20,3.66,NaN,NaN,NaN,0.54,...,NaN,NaN,3.92,4.29,16.91,5.89,NaN,29.980000,12.48,2.77

In [101]:
low_size

,TTEN3,QVQP3,ABCB4,EALT3,EALT4,AERI3,AESO3,AFLT3,GRAO3,AGXY3,...,MWET3,MWET4,WHRL3,WHRL4,PORT3,WIZC3,WLMM3,WLMM4,YDUQ3,ZAMP3
Data,,,,,,,,,,,,,,,,,,,,,
1999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3773.007111,3773.007111,1147582.85,1147582.85,NaN,NaN,2.298790e+04,2.298790e+04,NaN,NaN
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4459.008537,4459.008537,1147582.85,1147582.85,NaN,NaN,2.505162e+04,2.505162e+04,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4116.007771,4116.007771,1147582.85,1147582.85,NaN,NaN,2.267040e+04,2.267040e+04,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4459.008537,4459.008537,1147582.85,1147582.85,NaN,NaN,2.378164e+04,2.378164e+04,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4802.009053,4802.009053,1147582.85,1147582.85,NaN,NaN,2.378164e+04,2.378164e+04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-01,7.223721e+06,NaN,4.839559e+06,313597.5,313597.5,240896.7777,NaN,468721.55,NaN,135619.86438,...,25039.000000,25039.000000,6078230.20,6078230.20,7536312.311,949849.25508,1.124849e+06,1.124849e+06,3300031.56,1.276516e+06
2025-04-02,7.094192e+06,NaN,4.781888e+06,313852.5,313852.5,238444.9021,NaN,472506.65,NaN,133108.38541,...,25176.200000,25176.200000,6088517.21,6088517.21,7536312.311,953047.40072,1.065129e+06,1.065129e+06,3406926.27,1.260560e+06
2025-04-03,7.178884e+06,NaN,4.894827e+06,311175.0,311175.0,273384.1294,NaN,472506.65,NaN,133108.38541,...,25176.200000,25176.200000,6067137.88,6067137.88,7536312.311,973835.34738,1.073869e+06,1.073869e+06,3535748.10,1.280505e+06
2025-04-04,6.939754e+06,NaN,4.798709e+06,307222.5,307222.5,246413.4978,NaN,460520.50,NaN,130596.90644,...,25176.200000,25176.200000,5995128.81,5995128.81,7509853.637,943452.96380,1.017162e+06,1.017162e+06,3450780.51,1.200723e+06
2025-04-07,6.964663e+06,NaN,4.700188e+06,301072.5,301072.5,238444.9021,NaN,460520.50,NaN,133108.38541,...,25176.200000,25176.200000,6042628.32,6042628.32,7496624.300,943452.96380,1.015376e+06,1.015376e+06,3502857.42,1.144876e+06

In [102]:
low_vol

Empty DataFrame
Columns: [ticker, low_vol]
Index: []

In [104]:
quality

Empty DataFrame
Columns: [ticker, quality]
Index: []

In [105]:
momentum

Empty DataFrame
Columns: [ticker, momentum]
Index: []